.carrossel_titulo {
  color: var(--orange-color);  
  background: white; 
  text-align: center; 
  text-transform: uppercases; 
  font-size: 18px; 
  font-weight: 700; 
  padding: 1em 0 0.5em 0;

} 

.swiper-slide img{
  width: 100%;
} 

.swiper-button-prev, .swiper-button-next {
  display: none;
} 

.swiper-pagination {
  position: initial; 
  margin: 0.5em 0 ;
} 

.card_descricao {
  display: flex; 
  justify-content: space-between; 
  margin-bottom: 0.5em;
} 

.card_botoes {
  display: flex; 
  justify-content: space-between;
}

.botoes {
  display: flex;
} 

.card {
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px; 
  padding: 1em; 
  margin: 1em;
} 

.descricao_titulo { 
  color: var(--orange-color); 
  font-weight: 700;
} 

.descricao_titulo-livro {
  color: #002F52; 
  font-size: 18px; 
  font-weight: 700; 
  margin: 0.5em 0;
} 

.descricao_texto {
  font-size: 14px; 
  font-weight: 400;
}
.botoes_ancora {
  background: #EB9B00; 
  font-size: 1em; 
  font-weight: 700; 
  color: #FFFFFF; 
  text-decoration: none; 
  padding: 1em 2.2em; 
} 
.botoes {
  align-items: center; 
}
.botoes_item {
  margin: 0 0.5em; 
  width: 3em; 
} 

.avaliacao_card {
  margin:1em 0 0.2em 0;
} 

.imagem_escritora {
  margin: 1em 0 0 1em ; 
  width: 160px;
}