.contato {
  background-color: white;
  padding: 1em;
}

.contato_titulo,
.contato_texto {
  background: linear-gradient(97.54deg, #002f52 35.49%, #326589 165.37%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.contato_titulo {
  font-size: 18px;
  font-weight: 500;
}
.contato_texto {
  font-weight: 300;
  margin: 1em 0;
}

.contato_email {
  padding: 1em;
  border: 1px solid var(--section-color);
  border-radius: 24px;
  width: 90%;
}

.contato_email::placeholder {
  padding-left: 2em;
  font-family: var(--fonte-principal);
  color: var(--section-color);
  background: url('../assets/contato.svg') no-repeat;
}

@media screen and (min-width: 1024px) {
  .contato_descricao {
    width: 30%;
  }
  .contato {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5em;
    padding: 3em 0;
  }
  .contato_email {
    width: 30%;
  }
  .contato_titulo {
    font-size: 24px;
  }
}

@media screen and (min-width: 1728px) {
  .contato {
    padding: 4em 20vw;
  }
}
